<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Timeline">
            <directory>./tests/Coub/Service/Timeline</directory>
        </testsuite>
        <testsuite name="Coubs">
            <directory>./tests/Coub/Service/Coubs</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="access_token" value="you_access_token"/>
    </php>
</phpunit>